<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pós graduação mapa</title>
<!-- Leaflet CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
<link rel="stylesheet" href="../components/css/mapa.css"/>

<!-- Leaflet JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>>
</head>
<body>

  <div class="filter-tab">
    <button class="tab-button" id = "tab_button">Filters</button>
    <div class="filter-options">
      <!-- Filter options -->

      <div class="container">
        <div class="input-group">
          <label class="input-group-label" for="artEvaluation">Avaliação:</label>
          <select class="custom-select" id="artEvaluation">
            <option value="0">ALL</option>
          </select>
        </div>
      </div>

      <div class="container">
        <div class="input-group">
          <label class="input-group-label" for="artKnowledge">Conhecimento:</label>
          <select class="custom-select" id="artKnowledge">
            <option value="0">ALL</option>
          </select>
        </div>
      </div>

      <div class="container">
        <div class="input-group">
          <label class="input-group-label" for="artResearch">Linha de pesquisa:</label>
          <select class="custom-select" id="artResearch">
            <option value="0">ALL</option>
          </select>
        </div>
      </div>

      <div class="container">
        <div class="input-group">
          <label class="input-group-label" for="artLevel">Nível:</label>
          <select class="custom-select" id="artLevel">
            <option value="0">ALL</option>
          </select>
        </div>
      </div>

      <div class="year-slider">
        <label for="start-year">Ano inicial:</label>
        <input type="number" id="start-year" placeholder="Select a year" min="1980" max="2020" step="1" value="1980">
        <label for="end-year">Ano final:</label>
        <input type="number" id="end-year" placeholder="Select a year" min="1980" max="2020" step="1" value="2023">
        <div id="year-range"></div>
      </div>

      
      <button id="search" class="btn btn-primary">Search</button>    
      
    </div>
  </div>








  <div id="map_ranks" class="container">
    <div id="map"></div>
    <div id="rank_ie" class="chart"></div>
    <div id="rank_states" class="chart"></div>
  </div>

  <div id="line_chart" class="line"></div>

  <script type="module" src="../utils/mapa_control.js"></script>
  <script type="module" src="../utils/mapa_display.js"></script>
  <script type="module" src="../utils/mapa_rank.js"></script>
  <script type="module" src="../utils/mapa_line.js"></script>

</body>
</html>
