.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.year-slider {
  margin: 20px 0;
}

.year-slider input {
  width: 100px;
  margin-right: 10px;
}

#year-range {
  display: inline-block;
  font-weight: bold;
  margin-left: 10px;
}


.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}


body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

#map {
  height: 400px;
  margin-bottom: 20px;
  width: 30%;
  position: relative;
  bottom: 0;
  left: 0;
}

#map_ranks{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.container {
  margin-top: 20px;
}

.input-group {
  margin-bottom: 10px;
}

#search {
  margin-top: 20px;
}

.chart {
  height: 200px;
  margin-bottom: 20px;
}

.line {
  height: 300px;
  margin-top: 40px;
}