/* Estilos para as legendas */
.legend {
  line-height: 18px;
  color: #555;
  margin-bottom: 10px;
}

.legend i {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  opacity: 0.7;
  vertical-align: middle;
}

/* Estilos para o seletor de ano */
.year-slider {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.year-slider label {
  margin-right: 10px;
}

.year-slider input {
  width: 80px;
  margin-right: 10px;
}

#year-range {
  font-weight: bold;
}

/* Estilos para as informações */
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 10px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

/* Estilos para o corpo da página */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Estilos para o mapa - Não mexer */
#map {
  height: 450px;
  margin-bottom: 20px;
  width: 30%;
  position: relative;
  bottom: 0;
  left: 0;
}

/* Estilos para o contêiner dos rankings - Não mexer */
#map_ranks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

#ranks{
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

/* Estilos para os contêineres */
.container {
  margin-top: 20px;
}

.input-group {
  margin-bottom: 10px;
}

/* Estilos para o botão de pesquisa */
#search {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#search:hover {
  background-color: #0056b3;
}

.chart {
  border: 1px solid #ddd;
  padding: 10px;
}

.line {
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 10px;
}

/* Filter tab */
.filter-tab {
  position: fixed;
  top: 1%;
  right: 0;
  transform: translateY(0%);
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  z-index: 9999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tab-button {
  background-color: #ccc;
  border: none;
  color: #000;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.tab-button:hover {
  background-color: #bbb;
}

.filter-options {
  display: none;
  margin-top: 10px;
}

.filter-options.show {
  display: block;
}

/* Config tab */
.config-tab {
  position: fixed;
  top: 8%;
  right: 0;
  transform: translateY(0%);
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  z-index: 9999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.config-options {
  display: none;
  margin-top: 10px;
}

.config-options.show {
  display: block;
}

/* Customizando opções */
.custom-select {
  position: relative;
  width: 200px;
}

.custom-select select {
  width: 100%;
}

.custom-select option {
  word-wrap: break-word;
}

/* Hide the default checkbox appearance */
input[type="checkbox"] {
  display: none;
}

/* Style the custom checkbox */
input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  margin-right: 5px;
  vertical-align: middle;
  background-color: #fff;
}

/* Style the custom checkbox when checked */
input[type="checkbox"]:checked + label:before {
  background-color: #007bff;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
}
